@if (@ViewBag.Library != null)
{
    @foreach(var file in @ViewBag.Library.Files)
    {
        <a href="/movie/@file.Movie.id">
            <div class="d-inline-block">
                <img src="@file.Movie.Poster" alt="@file.Movie.Title"> <br>
                @file.Movie.Title
            </div>
        </a>
    }
}