@if (@ViewBag.Movie != null)
{
    @foreach (var version in @ViewBag.Movie.MovieFiles)
    {
        @version.Quality<br>
        @version.Path<br>
        @version.CodecName<br>
        @version.Duration<br>
    }
    <a href="/play/@ViewBag.Movie.id">
        <div class="d-inline-block">
            <img src="@ViewBag.Movie.Poster" alt="@ViewBag.Movie.Title"> <br>

        </div>
    </a>
        <div>
            @ViewBag.Movie.Title<br>
            @ViewBag.Movie.Year<br>
            @ViewBag.Movie.Runtime<br>
            @ViewBag.Movie.Rating<br>
            @ViewBag.Movie.RottenTomatoesRating<br>
        </div>

}