<h1>PlexClone</h1>
@for(var i = 0; i < @ViewBag.drives.Length; i++)
{
    <a href="/@i">@ViewBag.drives[i]</a><br>
}
<!-- @foreach(var drive in @ViewBag.drives)
{
    <a href="@drive.Name.ToString()">@drive.Name.Replace('\\','/')</a> <br>
} -->
@if(@ViewBag.current != null)
{
    <a href="/@ViewBag.path">..</a> <br>
    @for(var i = 0; i < @ViewBag.current.Count; i++)
    // @foreach(var dir in @ViewBag.current)
    {
        <a href="/path/@i">@ViewBag.current[i]</a> <br>
    }
}