<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PlexClone</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css">
    <script type="text/javascript" src="~/js/main.js"></script>
    <script type="text/javascript" src="~/js/modernizr-custom.js"></script>
</head>
<body>
    <div class="header">
        <a href="/"><img src="~/Img/house.jpg" alt="Home icon."></a>
        <div class="search">
            <img src="~/Img/search.png" alt="Magnifying glass icon.">
            <div class="form">
                <input id="search" type="text" name="search">
            </div>
        </div>
    </div>
    <div class="bodyContainer">
        <div class="leftNav">
        <h5>LIBRARIES</h5>
        <img id="addLibraryButton"src="~/Img/plus.png" alt="Plus sign.">
        @if(@ViewBag.Libraries != null){
            @foreach(var library in @ViewBag.Libraries){
                <p onclick="renderLibrary(@library.id)">@library.Name</p>
                <br><a href="/@library.id">@library.Name</a><a href="/refresh/@library.id"><img src="~/Img/refresh.png" alt="refresh"></a><a href="/dellibrary/@library.id"><img src="~/Img/delete.png" alt="trash"></a>
            }
        }
        </div>
        <div id="singleMovieContainer"></div>
        <div id="moviesDisplay" class="body">
            <!-- Your View will be rendered in place of RenderBody -->
            @RenderBody()
        </div>
    </div>
    <div class="formPopup"id="formPopup">
        @Html.Partial("AddLibrary")
    </div>

    <div class="footer">

    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
